body{
    background-color: #1d3361;
}
#app{
    padding-top: 100px;
}


.top-wrapper{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.342);

}
.bottom-wrapper{
    background-color: #00000085;
    border: 1px solid white;
}