#app{
    padding-top: 100px;
}
.container{
    background-color: wheat;
    height: 500px;
}
.col{
    background-color: red;
}
.top-wrapper{
    min-height: 300px;
    background-color: rgb(119, 119, 119);
}